.profile__title {
  margin: 0;
  margin-top: 70px;

  color: #000000;
  font-weight: 500;
  font-size: 24px;
  font-style: normal;
  line-height: 29px;
  text-align: center;
}

.profile__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 410px;
  margin: 0 auto;
  margin-top: 116px;
}

.profile__content-input {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
}

.profile__content-input_style_border {
  border-bottom: 1px solid #e8e8e8;
}

.profile__label-input {
  width: 44%;

  color: #000000;
  font-weight: 500;
  font-size: 11px;
  font-style: normal;
  line-height: 13px;
}

.profile__data-input {
  width: 50%;
  height: 26px;

  color: #000000;
  font-weight: 400;
  font-size: 11px;
  font-style: normal;
  line-height: 13px;
  text-align: right;

  border: none;
}

.profile__error {
  position: absolute;
  top: 22px;
  left: 0;

  color: #ff4062;
  font-weight: 400;
  font-size: 10px;
  font-style: normal;
  line-height: 12px;
}

.profile__form-submit {
  margin-top: 195px;

  color: #000000;
  font-weight: 400;
  font-size: 13px;
  font-style: normal;
  line-height: 16px;

  background-color: #ffffff;
  border: none;
  cursor: pointer;

  transition: opacity .3s ease;
}

.profile__form-submit:hover {
  opacity: .7;
}

.profile__signout {
  margin-top: 6px;

  color: #ff4062;
  font-weight: 500;
  font-size: 13px;
  font-style: normal;
  line-height: 16px;
  text-align: center;
  text-decoration: none;

  transition: opacity .3s ease;
}

.profile__signout:hover {
  opacity: .7;
}

@media screen and (max-width: 960px) {
  .profile {
    height: 100vh;
  }

  .profile__title {
    margin-top: 231px;
  }

  .profile__form {
    margin-top: 90px;
  }

  .profile__form-submit {
    margin-top: 184px;
  }
}

@media screen and (max-width: 540px) {
  .profile__title {
    margin-top: 66px;
  }

  .profile__form {
    max-width: 260px;
    margin-top: 73px;
  }

  .profile__form-submit {
    margin-top: 353px;
  }
}
