.page-not-found {
  display: flex;
  flex-direction: column;
  padding: 246px 21px 20px 0;
}

.page-not-found__title {
  margin: 0;

  color: #000000;
  font-weight: 400;
  font-size: 140px;
  font-style: normal;
  line-height: 169px;
  text-align: center;
}

.page-not-found__subtitle {
  margin: 0;
  padding-top: 5px;

  color: #000000;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  text-align: center;
}

.page-not-found__link {
  margin-top: 186px;

  color: #000000;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .page-not-found {
    padding: 408px 0 20px;
  }
}

@media screen and (max-width: 540px) {
  .page-not-found {
    padding: 330px 0 20px;
  }

  .page-not-found__title {
    font-size: 80px;
    line-height: 97px;
  }

  .page-not-found__subtitle {
    padding-top: 9px;

    font-size: 12px;
    line-height: 15px;
  }

  .page-not-found__link {
    margin-top: 285px;

    font-size: 12px;
    line-height: 15px;
  }
}
